{% extends 'testing/base.html'%}

{% block title%}
{{title}}
{% endblock %}
{% block content %}

{% block content_name%}
<h1 class="mb-2">{{content_name}}</h1>
{% endblock %}
{%for post in posts%}
	<div class="raw mb-3">
	<div class="card" class="offset-md-3">
	  <div class="card-header">
	    {{post.date_pub}}
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">{{post.title}}</h5>
	    <p class="card-text">{{post.body|truncatechars:20}}</p>
	    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать полностью</a>
	    <br>
	    Автор: <a href="{% url 'post_by_author_url' author_id=post.author.id %}"> {{post.author}}<a>
		
		<br>
		Теги:
		{% for tag in post.tags.all%}
		<a href="{% url 'post_by_tag_url' slug=tag.slug %}">
	
				{{tag.title}}
		{% endfor %}
		</a>
	  </div>
	</div>
</div>
{%endfor%}

{% endblock %}
